/* CSS de bază pentru un stil modern și structurat */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f4f4f9;
}

.header {
	text-align: center;
	padding: 2rem;
	background-color: #2d86f4;
	color: white;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

p {
	margin-bottom: 1.5rem;
}

.description {
	max-width: 700px;
	margin: 1rem auto 2rem auto;
	padding-top: 1rem;
	font-size: 1.1rem;
	color: #555;
	text-align: center;
}

.team {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 600px;
	margin: 2rem auto;
	padding: 2rem 0;
}

.team-member {
	text-align: center;
}

.team-member>img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
	font-weight: bold;
	color: #333;
}

.roles {
	font-size: 0.85rem;
	color: #777;
}

.contact-icons {
	/* margin-right: 10px; */
    display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.contact-icons img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.contact-icons a {
	transition: filter 0.3s ease; /* Smooth transition for darkening */
}

.contact-icons a:hover {
	filter: brightness(0.8); /* Darkens the image slightly */
}

.milestone {
	max-width: 800px;
	margin: 2rem auto;
	padding: 1.5rem;
	background-color: #e6f0ff;
	border-radius: 15px;
}

.milestone h2 {
	text-align: center;
	font-size: 1.8rem;
	color: #2d86f4;
}

.milestone-link {
	text-align: center;
	font-size: 0.85rem;
	margin-top: -10px;
}

.task {
	margin: 1rem 0;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task h3 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	color: #2d86f4;
	display: flex;
	justify-content: space-between;
}

footer {
	text-align: center;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding: 1rem;
	background-color: #2d86f4;
	color: white;
	margin-top: 2rem;
}

a {
	color: #888888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.external-arrow {
	font-size: 0.7rem;
}

ul {
    list-style-type: none;
    padding-left: 1.5rem; /* Indentare pentru întreaga listă */
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.6;
}

ul li {
    margin-bottom: 0.75rem;
    text-indent: -1rem; /* Ajustare pentru a aduce bullet-ul la poziția dorită */
}

ul li a {
    color: #2d86f4;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

ul li::before {
    content: "•";
    color: #2d86f4;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

